Repository archermalmo/am.js: changes, and which Codecov flags are due for each by the changed paths.
All: source, tests, distribution

.codecov.yml:

coverage:
  round: down
  precision: 3
flags:
  source: 
    paths:
      - src/
  tests:
    paths:
      - __tests__
  distribution:
    paths:
      - dist/
comment:
  layout: "reach, diff, flags, files"
  behavior: new

update readme with working GH release link
  README.md
Due: none

fixed link again
  README.md
Due: none

updated tests to import directly from src/index.ts, reverting to best practices by testing the entire src directory; minor coverage improvements due to this.
  __tests__/functions/parse.test.js
  __tests__/functions/scroll.test.js
  __tests__/functions/select.test.js
  __tests__/functions/typography.test.js
  package.json
Due: tests

tests coverage update, regenerated docs
  docs/coverage/classes/Request.ts.html
  docs/coverage/classes/index.html
  docs/coverage/classes/index.ts.html
  docs/coverage/functions/index.html
  docs/coverage/functions/index.ts.html
  docs/coverage/functions/parse.ts.html
  docs/coverage/functions/scroll.ts.html
  docs/coverage/functions/select.ts.html
  docs/coverage/functions/typography.ts.html
  docs/coverage/index.html
  docs/docs/Request.html
  docs/docs/am.esm.js.html
  docs/docs/global.html
  docs/docs/index.html
  docs/docs/module-parse.html
  docs/docs/module-scroll.html
  docs/docs/module-select.html
  docs/docs/module-typography.html
Due: none

[skip ci] TravisCI only runs against latest LTS release
  .travis.yml
Due: none

[skip ci] remove some comments
  .travis.yml
  __tests__/functions/parse.test.js
Due: tests

[skip ci] update shields links, change docs shield to use /docs url
  README.md
Due: none

[skip ci] added npm links, moved shields section under h1 and description to appear better in npmjs.com search results
  README.md
Due: none

1.0.1
  package.json
Due: none

Changed arguments to object
  dist/am.cjs.dev.js
  dist/am.cjs.js
  dist/am.dev.js
  dist/am.esm.dev.js
  dist/am.esm.js
  dist/am.js
  src/functions/scroll.ts
Due: source, distribution

Updated and added tests
  __tests__/functions/scroll.test.js
Due: tests

Refactored isElementInViewport to use viewport height instead of element height
  dist/am.cjs.dev.js
  dist/am.cjs.js
  dist/am.dev.js
  dist/am.esm.dev.js
  dist/am.esm.js
  dist/am.js
  src/functions/scroll.ts
Due: source, distribution

create new dataManipulation module/test
  __tests__/functions/dataManipulation.test.js
  src/functions/dataManipulation.ts
Due: source, tests

generate docs
  docs/coverage/classes/Request.ts.html
  docs/coverage/classes/index.html
  docs/coverage/classes/index.ts.html
  docs/coverage/functions/dataManipulation.ts.html
  docs/coverage/functions/index.html
  docs/coverage/functions/index.ts.html
  docs/coverage/functions/parse.ts.html
  docs/coverage/functions/scroll.ts.html
  docs/coverage/functions/typography.ts.html
  docs/coverage/index.html
  docs/docs/Request.html
  docs/docs/am.esm.js.html
  docs/docs/global.html
  docs/docs/index.html
  docs/docs/module-dataManipulation.html
  docs/docs/module-scroll.html
  docs/docs/module-select.html
  docs/docs/module-typography.html
Due: none

add dataManipulation module/exports to function/src indices, build
  dist/am.cjs.dev.js
  dist/am.cjs.js
  dist/am.dev.js
  dist/am.esm.dev.js
  dist/am.esm.js
  dist/am.js
  src/functions/index.ts
  src/index.ts
Due: source, distribution

generate docs with changes to dataManipulation module
  docs/coverage/classes/Request.ts.html
  docs/coverage/classes/index.html
  docs/coverage/classes/index.ts.html
  docs/coverage/functions/dataManipulation.ts.html
  docs/coverage/functions/index.html
  docs/coverage/functions/index.ts.html
  docs/coverage/functions/parse.ts.html
  docs/coverage/functions/scroll.ts.html
  docs/coverage/functions/select.ts.html
  docs/coverage/functions/typography.ts.html
  docs/coverage/index.html
  docs/docs/Request.html
  docs/docs/am.esm.js.html
  docs/docs/global.html
  docs/docs/index.html
  docs/docs/module-dataManipulation.html
  docs/docs/module-parse.html
  docs/docs/module-scroll.html
  docs/docs/module-select.html
  docs/docs/module-typography.html
Due: none

create tests for searchPropPath function, update sPP API to add optional delimiter arg, allow string path args, throw error when a value resulting from a searched path is undefined
  __tests__/functions/dataManipulation.test.js
  src/functions/dataManipulation.ts
Due: source, tests

built
  dist/am.cjs.dev.js
  dist/am.cjs.js
  dist/am.dev.js
  dist/am.esm.dev.js
  dist/am.esm.js
  dist/am.js
Due: distribution

update docs to change searchPropPath parameters from 'optional' to 'required'
  dist/am.cjs.dev.js
  dist/am.cjs.js
  dist/am.dev.js
  dist/am.esm.dev.js
  dist/am.esm.js
  dist/am.js
  docs/coverage/classes/Request.ts.html
  docs/coverage/classes/index.html
  docs/coverage/classes/index.ts.html
  docs/coverage/functions/dataManipulation.ts.html
  docs/coverage/functions/index.html
  docs/coverage/functions/index.ts.html
  docs/coverage/functions/parse.ts.html
  docs/coverage/functions/scroll.ts.html
  docs/coverage/functions/select.ts.html
  docs/coverage/functions/typography.ts.html
  docs/coverage/index.html
  docs/docs/Request.html
  docs/docs/am.esm.js.html
  docs/docs/global.html
  docs/docs/index.html
  docs/docs/module-dataManipulation.html
  docs/docs/module-parse.html
  docs/docs/module-scroll.html
  docs/docs/module-select.html
  docs/docs/module-typography.html
  src/functions/dataManipulation.ts
Due: source, distribution
